alpaca_trade_api==1.5.0
beautifulsoup4==4.10.0
finviz==1.4.3
html2image==2.0.1
hvplot==0.7.3
lxml==4.7.1
matplotlib==3.5.0
numpy==1.19.0
pandas==1.3.5
panel==0.12.6
param==1.12.0
Pillow==9.0.1
plotly==5.1.0
praw==7.5.0
python-dotenv==0.19.2
requests==2.27.1
torch==1.10.2
transformers==4.16.2
tweepy==4.5.0
wordcloud==1.8.1
